{
    # Global options
    admin off
    auto_https disable_redirects  # Disable redirects while testing
    # email your.email@domain.com  # Optional: your email for urgent notices
}

spr.strikwerda.fr {
    tls {
        issuer acme
    }

    # Listen on both standard and custom ports
    bind :80
    bind :443
    bind :8080

    root * /var/www/public
    php_fastcgi app:9000
    file_server
    encode gzip

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}

portainer.spr.strikwerda.fr {
    tls {
        issuer acme
    }

    bind :80
    bind :443
    bind :8443

    reverse_proxy portainer:9000
}