{% extends 'base.html.twig' %}

{% block title %}Nouveau patient{% endblock %}

{% block body %}
{#    <div class="md:mt-36">#}
{#        <h1 class="uppercase text-xl mb-10">Créer une nouvelle fiche patient</h1>#}

{#        {{ include('partials/form.html.twig') }}#}

{#    </div>#}

    <div class="w-full max-w-2xl mx-auto mt-5 md:mt-36">
        <h1 class="text-xl mb-10 text-center uppercase">Créer une nouvelle fiche patient</h1>
        {{ include('partials/form.html.twig') }}
    </div>
{% endblock %}
