{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="flex flex-col items-center justify-center md:mt-36">
        <h1 class="uppercase text-xl mb-10">Editer une fiche patient</h1>

        {{ include('partials/form.html.twig') }}

    </div>

{% endblock %}
