{% for type, messages in app.flashes %}

    <div role="alert" class="alert alert-{{ type }} w-max m-4">
        <button type="button" class="btn btn-accent btn-sm">
            x
        </button>
        <span>
            {{ messages | join('. ') }}
        </span>
    </div>
{% endfor %}

<script>
    document.querySelectorAll('.alert').forEach(function(alert) {
        // Remove the alert after 3 seconds
        setTimeout(function() {
            alert.remove();
        }, 3000);

        // Remove the alert when the close button is clicked
        alert.querySelector('button').addEventListener('click', function() {
            this.parentNode.remove();
        });
    });
</script>
