<!DOCTYPE html>
<html lang="fr" data-theme="pastel">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="flex flex-col min-h-screen">
{% include 'navbar.html.twig' %}
<div class="container mx-auto px-4 my-5 flex flex-col items-center justify-between mt-20">
    {% block back_button %}
        <button onclick="window.history.back();"
                class="btn btn-accent absolute top-20 left-10 text-sm font-bold py-2 px-4 rounded">
            Retour
        </button>
    {% endblock %}
    {% include 'partials/flash.html.twig' %}
    {% block body %}{% endblock %}
</div>
</body>

</html>
